<!DOCTYPE html>
<html>

        <head>
                <meta charset="utf-8" />
                
                
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            
                <title>Bringo</title>
            
                <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
                <meta name="viewport" content="width=device-width" />
            
                <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
            
            
                <link href="stylesheets/paper-dashboard.css" rel="stylesheet"/>
            
                
                <link href="stylesheets/themify-icons.css" rel="stylesheet">
             
        
            
            </head>
<body>
        <div class="wrapper">
                <div class="sidebar" data-background-color="white" data-active-color="danger">
            
               
            
                    <div class="sidebar-wrapper">
                        <div class="logo">
                         <center> <h3>BrinGo</h3></center>
                            
                        </div>
            
                        <ul class="nav">
                           
                            <li >
                                <a href="/bringo/visitorAdmin">
                                    <i class="ti-panel"></i>
                                    <p>Visitor/Guest Details</p>
                                </a>
                            </li>
                         <li >
                                <a href="/bringo/pickup">
                                    <i class="ti-panel"></i>
                                    <p>pickup</p>
                                </a>
                            </li>
                            <li >
                                <a href="/bringo/departure">
                                    <i class="ti-panel"></i>
                                    <p>departure</p>
                                </a>
                            </li>
                            <li >
                                <a href="/bringo/meal">
                                    <i class="ti-panel"></i>
                                    <p>meals</p>
                                </a>
                            </li>
                            <li class="active">
                                <a href="/bringo/room">
                                    <i class="ti-panel"></i>
                                    <p>Accommodation</p>
                                </a>
                            </li>
            
                        </ul>
                    </div>
                </div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}
body {
    margin:50px 400px; padding:0px;
   
    
}
input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
</style>
</head>
<body>

<h2>Accomodation</h2>


<div class="container"  >
  <form action="/action_page.php" >
    <div class="row">
      <div class="col-25">
        <label for="roomtype">Room Type :</label>
      </div>
      <div class="col-75">
        <input type="text" id="roomtype" name="firstname" placeholder="Enter type of room you want..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="roomno">Room no :</label>
      </div>
      <div class="col-75">
            <input type="text" id="roomno" placeholder="Enter room no..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="buildingname">Building Name :</label>
      </div>
      <div class="col-75">
            <input type="text" id="roomno" placeholder="Name of building..">
      </div>
    </div>
     <div class="row">
      <div class="col-25">
         <label>Departure Date :</label>
      </div>
      <div class="col-75">
     
            <input type="date" name="departuredate" value="date" required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
          <label>Check-in Time:</label>
      </div>
      <div class="col-75">
    
        <input type="time" name="checkintime" required>
      </div>
    </div>
    
     <div class="row">
      <div class="col-25">
         <label>Check Out Date :</label>
      </div>
      <div class="col-75">
     
            <input type="date" name="checkoutdate" value="date" required>
      </div>
    </div>
    
     <div class="row">
      <div class="col-25">
          <label>Check-out Time:</label>
      </div>
      <div class="col-75">
     
            <input type="time" name="checkouttime" required>
      </div>
    </div>
   
   <div  id="box">
        <div id="row1">
    <div class="row">
            <div class="row" >
                <div class="col-25">
            <label>Name :</label>
        </div>
            <div class="col-75">
            <input type="text" name="accompaniedfullname" placeholder="Full name.. " required>
            </div>
        </div>
          <div class="row" >
                <div class="col-25">
            <label>Contact Number :</label>
        </div>
            <div class="col-75">
            <input type="text" name="accompaniedcontactno" placeholder="Contact number " required>
            </div>
        </div>
       <div class="row">
        <input type="button" onclick="newrow(this)" value="Add More.." class="button-new"><input type="button" onclick="deleterow(this)" value="Delete" style="display: none"class="button-delete"> <br><br></div></div>
       </div>
    </div>
    </div>
        <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
<script>
    function newrow(id){
         var row= id.parentNode; 
            var box=document.getElementById("box");
        var dnew=row.cloneNode(true);
        box.appendChild(dnew);
          var deletelist= box.getElementsByClassName("button-delete");
        var display="none";
        if(deletelist.length>1){
            display="";}
        for(i=0;i<deletelist.length;i++){
            deletelist[i].style.display= display; 
        }
        }
        
    
        function deleterow(id){
            var row= id.parentNode; 
            var box=document.getElementById("box");
            box.removeChild(row);
            var deletelist= box.getElementsByClassName("button-delete");
            if(deletelist.length<2){
                deletelist[0].style.display="none"; } 
        }
     </script>
</body>
</html>
